.card {
  flex-basis: 20%;
  -ms-flex: auto;
  width: 259px;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
  transition-duration: 0.5s;
  &__container {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: $secondary-gray;
  }

  &:hover {
    padding: 0;
    transition-duration: 0.5s;
  }
}

.image {
  &__img {
    height: 300px;
    width: 100%;
  }
}

.content {
  padding: 20px;

  &__name {
    font-size: 1.2rem;
    color: $text-gray;
    text-transform: uppercase;
  }

  &__role {
    font-size: 1.2rem;
  }

  &__tag {
    margin-right: 10px;
  }
}

@media (max-width: 1073px) {
  .card {
    flex-basis: 33.33%;
  }
}
@media (max-width: 815px) {
  .card {
    flex-basis: 50%;

    &:hover {
      transition-property: none;
      padding: 10px;
    }
  }
}
@media (max-width: 555px) {
  .card {
    flex-basis: 100%;
  }
}
