.lightbox {
  cursor: pointer;
  user-select: none;

  &__box {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    z-index: 1;
  }

  &__image {
    height: 100%;
    width: auto;
    object-fit: contain;
  }
}
